body {
    margin: 0;
    padding: 0;
}
.header-area {
    color: #ffffff;
    background-color: #b2bec3;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-family:  sans-serif;
    font-style: italic;
}
.main-area {
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    color: #ffffff;
}
.main-area p::first-letter {
    text-transform: capitalize;
}
.main-area h2::first-letter {
    text-transform: capitalize;
}
.left-area {
    width: 33.33%;
    background-color: #6c5ce7;
    float: left;

}
.middle-area {
    width: 33.33%;
    background-color: #fd79a8;
    float: left;
    overflow: hidden;
}
.right-area {
    width: 33.33%;
    background-color: #6c5ce7;
    overflow: hidden;
}
.footer-area {
    background-color: #b2bec3;
    padding: 10px;

}
.footer-area p {
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
}